/* Text / body */
body {
    font-family: 'Montserrat', system-ui, -apple-system, sans-serif;
    font-size: 16px;
    line-height: 1.6;
}

/* Paragraphs */
p {
    font-family: 'Montserrat', system-ui, -apple-system, sans-serif;
    color: #cbd5f5;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Aldrich', system-ui, sans-serif;
    font-weight: 400;
    letter-spacing: 0.02em;
    line-height: 1.2;
}

a {
    font-family: "Nova Square", sans-serif;
    font-weight: 400;
    letter-spacing: 0.02em;
    line-height: 1.2;
}